# node modules
node_modules/

# environment variables
.env
.env.*

# logs
logs
*.log
npm-debug.log*

# build
dist/
build/

# OS
.DS_Store
Thumbs.db

# vscode
.vscode/

# docker
*.db
*.sqlite

# railway cache
.railway/